* {
    margin: 0
}

.imagemDev {
    margin: 10px 0px 0px 10px;
}

header {
    background-color: white;

    nav {
        margin: none;
        float: inline-end;

        ul {
            list-style: none;

            li {
                display:inline-block;
                font-family: fantasy;
                text-transform: uppercase;
                box-shadow: 5px -10px 0px #a0a0a0;
                margin: 30px;

                a {
                    color: rgb(224, 224, 224);
                    text-decoration: none;
                    transition: 300ms all;
                    font-size: 27px;
                    background-color: #1a1a1a;
                    padding: 5px 5px 5px 5px;
                } 

                a:hover{
                    border-radius: 5px;
                    background-color:#000000;
                    box-shadow: 10px -12px 0px #a0a0a0;
                }
            }
        }
    }
}

hr {
    border: none; /* Remove a borda padrão */
    height: 15px; /* Define a espessura */
    background-color: black; /* Cor da linha */
    margin: 5px 0px auto;
}

main {
    display: flex;
    justify-content: center;

    div {
        background-color: #000000;
        box-shadow: 10px 10px 0 #EF036C;
        h1 {
            color: white;

        }
    }
}

body { 
    background-color: #31EC56;
}